header {
  opacity: 0.5;
}
.wear_glasses {
  width: 50%;
  margin: auto;
  top: 20%;
  left: 24%;
}
.card-img-top1 {
  width: 100%;
  height: 100%;
}
.container_contain {
  padding: 50px 130px 150px 130px;
}
.card_item {
  border-radius: 20px;
  transition: 1s;
  padding: 0px 10px;
  cursor: grab;
}
.card_item:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.button_reset {
  transition: 2s;
  background-color: #fcd8ef;
  border: none;
  border-radius: 15px;
  height: 50px;
  width: 170px;
  font-size: 20px;
}
.button_reset:hover {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}
